{% extends 'base/base.html' %}
{% load static %}
{% load static %}
{% block title %}Python Pro - Aperitivos{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-2 mb-3">{{ video.titulo | default:"Título Faltando" }}</h1>
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Portal Web"></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <h2>Gostou do conteúdo, veja nossos cursos disponíveis:</h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Introdução à programação
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    <p> Inscrições até 01/08/2021</p>
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                            data-preference-id="27688690-45349de3-f487-4f30-b314-1ae53654c8f7"
                            data-source="button"></script>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Informática profissional
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <h5 class="card-header">
                    Técnico em informática
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}