{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}">
    <title>Adestec cursos online</title>

    <meta name="description" content="Página de descrição dos cursos disponíveis.">
    <meta name="author" content="William Foschiera">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'base:home' %}">Adestec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Plataforma de cursos online da Adestec, obra Padre Pio.
                </h2>
                <h4 class="mt-4">
                    Entre na lista de espera para receber mais informações sobre os cursos que serão em breve
                    disponibilizados na plataforma.
                </h4>

                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=0df2ae6d3bad3bf3c5c352f89&amp;id=6f4821e1a4"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                                   placeholder="exemplo@email.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Email</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                                    placeholder="Seu nome">
                        </div>

                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                  name="b_0df2ae6d3bad3bf3c5c352f89_6f4821e1a4"
                                                                                                  tabindex="-1"
                                                                                                  value="">
                        </div>

                        <div class="col-auto">
                            <input type="submit" value="Salvar" name="subscribe"
                                   id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Introdução à programação
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Informática profissional
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <h5 class="card-header">
                    Técnico em informática
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    +55 66 3531-0000
                    <br/>
                    <a href="mailto:teste@adestec.org.br" class="text-light">teste@adestec.org.br</a>
                </address>

            </div>
        </div>
    </div>
    <div class="rights pb-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Adestec. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>