{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cursos Adestec - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Plataforma de cursos online da Adestec, obra Padre Pio.
                </h2>
                <h4 class="mt-4">
                    Entre na lista de espera para receber mais informações sobre os cursos que serão em breve
                    disponibilizados na plataforma.
                </h4>

                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=0df2ae6d3bad3bf3c5c352f89&amp;id=6f4821e1a4"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                                   placeholder="exemplo@email.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Email</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                                    placeholder="Seu nome">
                        </div>

                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                  name="b_0df2ae6d3bad3bf3c5c352f89_6f4821e1a4"
                                                                                                  tabindex="-1"
                                                                                                  value="">
                        </div>

                        <div class="col-auto">
                            <input type="submit" value="Salvar" name="subscribe"
                                   id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Introdução à programação
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    <p> Inscrições até 01/08/2021</p>
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" data-preference-id="27688690-45349de3-f487-4f30-b314-1ae53654c8f7" data-source="button"></script>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Informática profissional
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <h5 class="card-header">
                    Técnico em informática
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Curso de introdução ao desenvolvimento web. Neste curso são tratados assuntos relacionados a
                        lógica de programação, boas práticas de desenvolvimento como o versionamento, a integração e
                        entrega contínua e testes automatizados. Além de apresentar as principais linguagens de
                        programação voltadas ao desenvolvimento web e seus frameworks.
                    </p>
                </div>
                <div class="card-footer">
                    Próxima turma sem data prevista
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}